* {
  text-rendering: geometricPrecision;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.medium {
  width: 60vw;
  margin: 0 auto;
  /* border: 1px solid rgb(211, 221, 225);
  background-color: rgb(227, 176, 47); */
}
.header {
  border-bottom: 1px solid #eaebeb;
  height: 60px;
  /* border: 1px solid rgb(128, 83, 0); */
  /* background-color: violet; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.background-grey {
  width: 100vw;
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
}
.wrapper {
  width: 60vw;
  margin: 0 auto;
  /* border: 1px solid rgb(129, 175, 191); */
  /* background-color: rgb(227, 47, 47); */
}
.wrapper2 {
  width: 100vw;
  margin: 0 auto;
  /* border: 1px solid rgb(129, 175, 191); */
  /* background-color: rgb(126, 124, 124); */
}

.montorgeuil {
  /* background-color: peru; */
  background-color: white;
}
.logo img {
  height: 60px;
  padding: 10px;
  /* border: 1px solid teal; */
}
.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(254, 255, 255);
}

.card-image {
  /* background-color: rgb(67, 66, 66); */
  /* border: 1px dashed red; */
  color: rgb(76, 19, 167);
}

.category-name {
  border: 1px solid rgb(233, 68, 106);
  /* background-color: rgb(152, 159, 216); */
}
.bgc {
  width: 100vw;
  /* background-color: rgb(255, 255, 255); */
  /* border: 2px dashed rgb(115, 208, 224); */
  width: auto;
  display: flex;
}
.menus {
  display: flex;
}

.item-title {
  border: 1px solid rgb(68, 233, 134);
  /* background-color: rgb(240, 204, 224); */
}
.item-description {
  border: 1px solid rgb(233, 159, 68);
  /* background-color: rgb(187, 214, 220); */
}
.item-price {
  border: 1px solid rgb(145, 233, 68);
  /* background-color: rgb(213, 220, 187); */
}

.bred {
  display: flex;
  flex-direction: row;
}

.data-name {
  width: 100%;
  font-weight: 50;
  font-size: 25px;
  border: 1px solid rgb(82, 68, 233);
  /* background-color: rgb(255, 249, 79); */
}

.data-description {
  font-size: 16px;
  color: #68696a;
  border: 1px solid rgb(104, 59, 24);
  /* background-color: rgb(79, 188, 255); */
  padding-right: 20%;
  text-align: justify;
}
.first-image {
  border: 1px solid rgb(233, 68, 68);
  background-color: rgb(132, 79, 255);
}

img {
  max-width: 50%;
  object-fit: contain;
}

/* Media Queries */

@media (min-width: 741px) and (max-width: 1024px) {
  .item-description {
    border: 1px solid rgb(233, 159, 68);
    background-color: rgb(187, 214, 220);
    font-size: 14px;
  }
  .item-title {
    border: 1px solid rgb(68, 233, 134);
    background-color: rgb(240, 204, 224);
    font-size: 14px;
  }
  .item-price {
    border: 1px solid rgb(145, 233, 68);
    background-color: rgb(213, 220, 187);
    font-size: 14px;
  }
  .data-description {
    font-size: 14px;
    color: #68696a;
    border: 1px solid rgb(104, 59, 24);
    /* background-color: rgb(79, 188, 255); */
    padding-right: 20%;
    text-align: justify;
  }
  .data-name {
    width: 100%;
    font-weight: 50;
    font-size: 16px;
    border: 1px solid rgb(82, 68, 233);
    /* background-color: rgb(255, 249, 79); */
  }
  img {
    /* width: 12rem; */
    object-fit: contain;
  }
}
@media (min-width: 340px) and (max-width: 740px) {
  .menus {
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: contain;
    margin: 0 auto;
    padding: 2px;
  }
  .item-description {
    border: 1px solid rgb(233, 159, 68);
    background-color: rgb(187, 214, 220);
    font-size: 12px;
  }
  .item-title {
    border: 1px solid rgb(68, 233, 134);
    background-color: rgb(240, 204, 224);
    font-size: 12px;
  }
  .item-price {
    border: 1px solid rgb(145, 233, 68);
    background-color: rgb(213, 220, 187);
    font-size: 12px;
  }
  .data-description {
    font-size: 12px;
    color: #68696a;
    border: 1px solid rgb(104, 59, 24);
    /* background-color: rgb(79, 188, 255); */
    padding-right: 20%;
    text-align: justify;
  }
  .data-name {
    width: 100%;
    font-weight: 50;
    font-size: 14px;
    border: 1px solid rgb(82, 68, 233);
    /* background-color: rgb(255, 249, 79); */
  }
}

@media (max-width: 339px) {
  .menus {
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: cover;
    margin: 0 auto;
    max-width: 190px;
    padding: 2px;
  }
  .wrapper2 {
    display: flex;
    flex-direction: column;
  }
  .item-description {
    border: 1px solid rgb(233, 159, 68);
    background-color: rgb(187, 214, 220);
    font-size: 10px;
  }
  .item-title {
    border: 1px solid rgb(68, 233, 134);
    background-color: rgb(240, 204, 224);
    font-size: 10px;
  }
  .item-price {
    border: 1px solid rgb(145, 233, 68);
    background-color: rgb(213, 220, 187);
    font-size: 10px;
  }
  .data-description {
    font-size: 10px;
    color: #68696a;
    border: 1px solid rgb(104, 59, 24);
    /* background-color: rgb(79, 188, 255); */
    padding-right: 20%;
    text-align: justify;
  }
  .data-name {
    width: 100%;
    font-weight: 50;
    font-size: 12px;
    border: 1px solid rgb(82, 68, 233);
    /* background-color: rgb(255, 249, 79); */
  }
}
