* {
  text-rendering: geometricPrecision;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  background-color: #68696a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 15px;
}

img {
  width: auto;
  background-color: paleturquoise;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(255, 99, 71, 0.249);
}

.card-image {
  /* background-color: rgb(67, 66, 66); */
  /* border: 1px dashed red; */
  color: rgb(76, 19, 167);
}
.picture {
  margin: 0 auto;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
