* {
  text-rendering: geometricPrecision;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medium {
  width: 60vw;
  margin: 0 auto;
  /* border: 1px solid rgb(211, 221, 225);
  background-color: rgb(227, 176, 47); */
}
.header {
  border-bottom: 1px solid #eaebeb;
  height: 60px;
  /* border: 1px solid rgb(128, 83, 0); */
  /* background-color: violet; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.background-grey {
  /* width: 100vw; */
  /* margin: 0 auto; */
  background-color: rgba(227, 227, 227, 0.2);
  border-radius: 15px;
}
.wrapper {
  width: 60vw;
  margin: 0 auto;
  /* border: 1px solid rgb(129, 175, 191); */
  /* background-color: rgb(227, 47, 47); */
}
.wrapper2 {
  width: 100vw;
  margin: 0 auto;
  /* border: 1px solid rgb(129, 175, 191); */
  /* background-color: rgb(126, 124, 124); */
}

.montorgeuil {
  /* background-color: peru; */
  background-color: white;
}
.logo img {
  height: 60px;
  padding: 10px;
  /* border: 1px solid teal; */
}
.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(254, 255, 255);
}

.card-image {
  /* background-color: rgb(67, 66, 66); */
  /* border: 1px dashed red; */
  color: rgb(76, 19, 167);
}

.category-name {
  /* border: 1px solid rgb(233, 68, 106);
  /* background-color: rgb(152, 159, 216); */
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 10px;
}
.bgc {
  /* width: 100vw; */
  /* background-color: rgb(255, 255, 255); */
  /* border: 2px dashed rgb(115, 208, 224); */
  width: auto;
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  letter-spacing: 3px;
}
.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5%; */
  padding: 5px;
}

.item-title {
  /* border: 1px solid rgb(68, 233, 134); */
  /* background-color: rgb(240, 204, 224); */
  font-weight: 600;
  margin-bottom: 15px;
}
.item-description {
  /* border: 1px solid rgb(233, 159, 68); */
  /* background-color: rgb(187, 214, 220); */
  font-size: 0.8rem;
  margin-bottom: 15px;
}
.item-price {
  /* border: 1px solid rgb(145, 233, 68); */
  /* background-color: rgb(213, 220, 187); */
  font-weight: 500;
}

.bred {
  display: flex;
  flex-direction: row;
}

.data-name {
  width: 100%;
  font-weight: 50;
  font-size: 25px;
  /* border: 1px solid rgb(82, 68, 233);
  /* background-color: rgb(255, 249, 79); */
}

.data-description {
  font-size: 16px;
  color: #68696a;
  /* border: 1px solid rgb(104, 59, 24);
  /* background-color: rgb(79, 188, 255); */
  padding-right: 20%;
  text-align: justify;
}
.first-image {
  border: 1px solid rgb(233, 68, 68);
  background-color: rgb(132, 79, 255);
}

img {
  max-width: 50%;
  object-fit: contain;
}

.menu-container {
  /* width: 1024px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.menu-item {
  border: 1px solid white;
  /* width: 400px; */
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px lightgray;
}

.cart {
  position: sticky;
  top: 0;
  align-self: flex-start;
  margin: 5px;
  background-color: #a6bacb0f;
  padding: 10px;
  border-radius: 15px;
  height: 100%;
  width: 390px;
  border: 1px solid black;
  margin-top: 42px;
}

.price {
  /* background-color: rgba(61, 176, 238, 0.235); */
  margin-left: 1px;
}
.price-total {
  /* background-color: rgba(61, 176, 238, 0.235); */
  /* border: 1px solid red;*/
  display: flex;
  justify-content: right;
  color: rgb(203, 131, 41);
}
.price-menu {
  /* background-color: rgba(61, 176, 238, 0.235); */
  /* border: 1px solid red;*/
  display: flex;
  justify-content: left;
  color: #75c7bc;
  font-weight: 700;
}
.air {
  padding: 10px;
  border-radius: 50%;
  font-size: 12px;
}
.air-title {
  padding: 12px;
  font-size: 13px;
  font-weight: 600;
}
/* Media Queries */

@media (min-width: 741px) and (max-width: 1024px) {
  .item-description {
    border: 1px solid rgb(233, 159, 68);
    /* background-color: rgb(187, 214, 220); */
    font-size: 13px;
  }
  .item-title {
    /* border: 1px solid rgb(68, 233, 134); */
    /* background-color: rgb(240, 204, 224); */
    font-size: 14px;
  }
  .item-price {
    /* border: 1px solid rgb(145, 233, 68); */
    /* background-color: rgb(213, 220, 187); */
    font-size: 14px;
  }
  .data-description {
    font-size: 14px;
    color: #68696a;
    /* border: 1px solid rgb(104, 59, 24); */
    /* background-color: rgb(79, 188, 255); */
    padding-right: 20%;
    text-align: justify;
  }
  .data-name {
    width: 100%;
    font-weight: 50;
    font-size: 16px;
    /* border: 1px solid rgb(82, 68, 233); */
    /* background-color: rgb(255, 249, 79); */
  }
  img {
    /* width: 12rem; */
    object-fit: contain;
  }
}
@media (min-width: 340px) and (max-width: 740px) {
  .menus {
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: contain;
    margin: 0 auto;
    padding: 2px;
  }
  .item-description {
    border: 1px solid rgb(233, 159, 68);
    background-color: rgb(187, 214, 220);
    font-size: 11px;
  }
  .item-title {
    /* border: 1px solid rgb(68, 233, 134); */
    /* background-color: rgb(240, 204, 224); */
    font-size: 12px;
  }
  .item-price {
    /* border: 1px solid rgb(145, 233, 68); */
    /* background-color: rgb(213, 220, 187); */
    font-size: 12px;
  }
  .data-description {
    font-size: 12px;
    color: #68696a;
    /* border: 1px solid rgb(104, 59, 24); */
    /* background-color: rgb(79, 188, 255); */
    padding-right: 20%;
    text-align: justify;
  }
  .data-name {
    width: 100%;
    font-weight: 50;
    font-size: 14px;
    /* border: 1px solid rgb(82, 68, 233); */
    /* background-color: rgb(255, 249, 79); */
  }
}

@media (max-width: 339px) {
  .menus {
    display: flex;
    flex-direction: column;
  }
  img {
    object-fit: cover;
    margin: 0 auto;
    max-width: 190px;
    padding: 2px;
  }
  .wrapper2 {
    display: flex;
    flex-direction: column;
  }
  .item-description {
    /* border: 1px solid rgb(233, 159, 68); */
    /* background-color: rgb(187, 214, 220); */
    font-size: 9px;
  }
  .item-title {
    /* border: 1px solid rgb(68, 233, 134); */
    /* background-color: rgb(240, 204, 224); */
    font-size: 10px;
  }
  .item-price {
    /* border: 1px solid rgb(145, 233, 68); */
    /* background-color: rgb(213, 220, 187); */
    font-size: 10px;
  }
  .data-description {
    font-size: 10px;
    color: #68696a;
    /* border: 1px solid rgb(104, 59, 24); */
    /* background-color: rgb(79, 188, 255); */
    padding-right: 20%;
    text-align: justify;
  }
  .data-name {
    width: 100%;
    font-weight: 50;
    font-size: 12px;
    border: 1px solid rgb(82, 68, 233);
    /* background-color: rgb(255, 249, 79); */
  }
}
